@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #08173b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2d89e6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0a85ff;
}

.nft-gradient {
  background: #2d89e6;
}

.white-bg {
  background: rgba(255, 255, 255, 0.2);
}

.nav-h {
  height: calc(100vh - 66px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  transform: scale(1.5);
}

.ball {
  top: 2px;
  left: 2px;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(16px);
}

.fa-moon {
  color: pink;
  font-size: 9px;
}

.fa-sun {
  color: yellow;
  font-size: 9px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flexStartCenter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexBetweenStart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flexCenterStart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.wrapper {
  padding: 0 20px;
  margin-top: 30px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 444px) {
  .wrapper {
    padding-bottom: 123px;
  }
}

/* ui for game *********************************************************/

.app-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: chartreuse;
  width: 70vh;
  height: 70vh;
  max-width: 100vw;
  max-height: 100vw;
  overflow: hidden;
}
.road {
  height: 100%;
  width: 42%;
  background-color: black;
}
.bike {
  width: 14%;
  height: 26%;
  position: absolute;
  left: 43%;
  bottom: 0vw;
  background-size: cover;
}

.ogBike {
  width: 14%;
  height: 26%;
  position: absolute;
  left: 43%;
  bottom: 0vw;
  background-size: cover;
  background-image: url("../img/bike.png");
}
.rock {
  width: 14%;
  height: 26%;
  position: absolute;
  top: -26%;
  background-size: cover;
  left: 29%;
  z-index: 2;
}
.start-game {
  animation: rock-movement 1.5s linear backwards infinite;
}
.right {
  right: 4%;
  bottom: 4%;
  background-image: url("../img/right-btn.png");
  background-size: contain;
}
.left {
  left: 4%;
  bottom: 4%;
  background-image: url("../img/left-btn.png");
  background-size: contain;
}
.scoreboard {
  color: black;
  position: absolute;
  top: 1%;
  right: 4%;
  text-align: center;
}

.score-title {
  font-size: x-large;
  font-weight: 800;
}
.score-text {
  font-weight: 900;
  font-size: large;
}
#divider {
  width: 1%;
  height: 100%;
  position: absolute;
  background-color: white;
}
.road-animation {
  animation: road-movement 1s linear backwards infinite;
}
.dl {
  position: absolute;
  top: 0;
  left: 42%;
}
.dr {
  position: absolute;
  top: 0;
  left: 57%;
}
.d1 {
  width: 100%;
  height: 20%;
  background-color: white;
}
.d2 {
  width: 100%;
  height: 20%;
  background-color: black;
}
.d3 {
  width: 100%;
  height: 20vw;
  background-color: white;
}
#btn {
  position: absolute;
  width: 21%;
  height: 21%;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
}
#btn:active {
  border-color: orange;
}
.start-menu {
  width: 100%;
  height: 40%;
}
.start-screen {
  background-image: url("../img/startpage-bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-title {
  width: 50%;
  height: 10%;
}
.start-btn {
  bottom: 0;
  cursor: pointer;
  background-image: url("../img/play-btn.png");
  background-color: black;
  background-repeat: no-repeat;
  border: blueviolet;
  border-style: solid;
  border-width: 4px;
  background-size: cover;
  width: 70%;
  height: 70%;
  margin: auto;
  margin-top: 10%;
  border-radius: 10%;
  animation: title-text-animation 1s linear both infinite;
}
.start-btn:hover {
  background-color: white;
}
.game-over-screen {
  background-image: url("../img/gameover-bg.png");
  background-size: cover;
}
.retry-btn {
  cursor: pointer;
  background-image: url("../img/retry-btn.png");
  background-color: black;
  border: blueviolet;
  border-style: solid;
  border-width: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  width: 40%;
  height: 40%;
  border-radius: 10%;
}
.retry-btn:hover {
  background-color: white;
}
.hide {
  display: none;
}

@keyframes rock-movement {
  100% {
    top: 100%;
  }
  0% {
    top: -26%;
  }
}

@keyframes road-movement {
  100% {
    top: 20%;
  }
  0% {
    top: -20%;
  }
}

@keyframes title-text-animation {
  100% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-2deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(2deg);
  }
}
.a-1 {
  position: absolute;
  padding: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  text-align: center;
}
.final-score {
  color: azure;
  margin: 0;
  padding: 0;
  font-size: x-large;
  font-weight: 900;
}

.css-pbt187 {
  background: #3198fe;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
